<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDoList</title>
    <script src="https://kit.fontawesome.com/db5152b6bb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item d-flex align-items-center justify-content-between"
                    v-for="(item, index) in list">
                    <div class="d-flex align-items-center">
                        <div class="me-2" @click="check(index)">
                            <i class="fa-regular fa-circle" v-show="!list[index].done"></i>
                            <i class="fa-regular fa-circle-check" v-show="list[index].done"></i>
                        </div>
                        <div v-if="list[index].done" class="text-decoration-line-through">{{list[index].text}}</div>
                        <div v-else>{{list[index].text}}</div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="btn">
                            <i class="fa-solid fa-pen"></i>
                        </div>
                        <div class="btn" @click="deleteItem(index)">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="d-flex flex-column align-items-center my-4 w-100">
                <button type="button" class="btn btn-success my-2" @click="addWindow">
                    <i class="fa-solid fa-plus" v-show="!add"></i>
                    <i class="fa-solid fa-minus" v-show="add"></i>
                </button>
                <div v-show="add" class="mb-3 card p-3 w-50">
                    <label for="text" class="form-label">Aggiungi ToDo</label>
                    <input type="text" class="form-control" id="item-text" v-model="toDoText">
                    <div class="d-flex justify-content-center my-3">
                        <button type="button" class="btn btn-outline-success" @click="addToDo">Aggiungi</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="JS/script.js"></script>

</body>

</html>